* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(216, 12%, 8%);
    min-height: 100vh;
}
html {
    margin: 0;
    padding: 0;
}

main {
    max-height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Overpass';
}

.rating-container,
.thank-you-container {
    width: 26rem;
    border: 1px solid;
    background-color: hsl(213, 19%, 18%);
    padding: 2rem;
    border-radius: 1.5rem;
}

.rating-container h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}

.remove {
    display: none;
}

.star-container {
    background-color: rgba(149, 158, 172, 0.141);
    border-radius: 50%;
    width: 2.7rem;
    height: 2.7rem;
}

#star-icon {
    display: inline-block;
    padding: 32%;
    height: auto;
    width: auto;
    /* background-color: hsl(217, 12%, 63%);
    border-radius: 80px; */
}

.numbers-wrapper {
    display: flex;
    justify-content: space-between;
}

.number {
    color: hsl(217, 12%, 63%);
    background-color: rgba(149, 158, 172, 0.141);
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    font-weight: 700;
    cursor: pointer;
}


.number:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.btn-wrapper button {
    font-family: 'Overpass';
    color: white;
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.btn-wrapper button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%)
}

.img-wrapper {
    display: flex;
    justify-content: center;
}

.selection-wrapper {
    text-align: center;
    margin: 1.8rem 0;
    color: hsl(25, 97%, 53%);
}

.selection-wrapper span {
    background-color: rgba(149, 158, 172, 0.065);
    padding: .5rem .7rem;
    border-radius: 2rem;
}

.thank-you-container h3,
.thank-you-container p {
    text-align: center;
    color: white;
}

.thank-you-container h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

.rating-container p,
.thank-you-container p {
    color: hsl(217, 12%, 63%);
    line-height: 1.5rem;
}

.active {
    background-color: hsl(216, 12%, 54%);
    color: white;
}

.error-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

#error {
    text-align: center;
    color: red;
}

/* footer */
footer {
    max-height: 1vh;
}

.attribution { 
    color: white;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* media query */
@media  screen and (max-width: 450px) {

    main {
        min-height: 80vh;
    }

    .rating-container,
    .thank-you-container {
        max-width: 90%;
    }

    .number {
        width: 2.6rem;
        height: 2.6rem;
    }
}